*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #022339;
    color: #fff;
}
.mainContainer{
    background-color: aqua;
    min-height: 100vh;
}
.changelater{
    background-color: red;
    text-align: center;
    min-height: 10vh;
}
.list{
    background-color: green;
    min-height: 35vh;
    display: flex;
    align-content: space-around;
}
.listOfTodos{
    list-style: none;
}